.task1 .item {
 position: absolute;
 left: 200px;
 bottom: 150px;
}

.task2 .item {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(55% - 80px);
}

.task3 .item {
 position: absolute;
 right: 0px;
}

.container4 {
 position: relative;
}
.task4 {
 width: 1000px;
 position: absolute;
}
.task4 .item {
position: absolute;
left: calc(50% - (80px * 2));
}

.task5 .item1 {
  background-color: red;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}
.task5 .item2 {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 40px;
}
.task5 .item3 {
  background-color: green;
  position: relative;
  z-index: 3;
}

.task6 .item {
  float: left;
  margin-bottom: 0px;
}

.task7 .item {
  float: right;
  margin-bottom: 0px;
}

.task8 .item1 {
  position: relative;
  float: left;
}
.task8 .item2 {
  height: 120px;
  position: relative;
  float: right;
}
.task8 p {
  clear: both;
}

.task9 .item1 {
  height: 200px;
  position: relative;
  float: left;
}
.task9 .item2 { 
  position: relative;
 float: right;
}
.task9 p {
 clear: right;
}

.task10 .item1 {
  position: relative;
  float: left;
}
.task10 .item2 {
  height: 200px;
  position: relative;
  float: right;
}
.task10 p {
clear: left;
}

.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: right;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: top left;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: bottom;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 40px 25px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center;
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  caret-color: blue;
}

html {
  scroll-behavior: smooth;
}
